*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 160px;
}

.new{
    text-align: center;
    margin: 50px 0px;
    font-size: 44px;
}
.btn{
    height: 38px;
    width: 110px;
    padding: 12px 8px;
    border: 1px solid rgb(222, 219, 219);
    background-color: white;
    color: black;
    
}
.btn:hover{
    background-color: rgb(222, 9, 9);
    color: white;
}

.btns{
    margin: 40px 0px;
    display: flex;
    justify-content: center;
}