.card{
    width: 200px;
    height: 310px;
    box-shadow: 0.1px 0.1px 0.7px;
    padding: 10px;
    text-align: center;

    img{
        width: 155px;
        height: 145px;
        margin-bottom: 10px;
    }
}

.price{
    color: red;
    margin: 10px 0px;
}