*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.qutu{
    display: flex;
    align-items: center;
    width: 281px;
    height: 90px;
    padding: 0px 25px;
    background-color: rgb(238, 235, 235);
}
.ikon{
    font-size: 30px;
    margin-right: 15px;
    color: red;
}
.qutular{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    gap: 4px;
    margin-top: 50px;
}