*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 200px;
    height: 310px;
    box-shadow: 0.1px 0.1px 0.7px;
    padding: 10px;
    text-align: center;

    img{
        width: 155px;
        height: 145px;
        margin-bottom: 10px;
    }
}

.boxes{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}
.boxess{
    text-align: center;
    margin: 90px 0px;
}